# Ignore bundler config.
/.bundle
lib/bundler/man

# Ignore sensitive data
"config/database.yml"
"config/initializers/devise.rb"
/.idea/"config/initializers/secret_token.rb"

# Ignore all logfiles and tempfiles.
/log/*.log
tmp

# Ignore test files
spec/reports
test/tmp
test/version_tmp

# Others
/.idea/

