<h1><%= I18n.t('.comments.title_editing') %></h1>

<%= render 'form' %>

<%= link_to I18n.t('.translation.link_to_show'), @comment %> |
<%= link_to I18n.t('.translation.link_to_back'), comments_path %>
