<%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each_with_index do |provider, idx| %>
        <li><%= link_to t("devise.sessions.link", provider: provider.to_s.titleize), omniauth_authorize_path(resource_name, provider), :class => "provider_#{idx}" %></li>
    <% end -%>
<% end -%>