<img src="../images/daniele_dentro.jpg" class="main-pic" />
<p>
  Bug Brother Brazil (BBB) is a project of science communication and it is the product of a
  collaboration between the groups of Dr Roderick James Dillon (University of Lancaster, UK) and Dr
  Fernando Ariel Genta (IOC-FIOCRUZ/RJ, Brazil). BBB is funded by the National Institute of Science
  and Technology in Molecular Entomology (INCT-IN), as well as CNPq, FAPERJ and FIOCRUZ.
</p>
<p>
  BBB was envisioned as an attempt to show the general public the private laboratory life of some of
  the most important insects commonly used as study models of transmission of human diseases. BBB
  intends to spark interest in scientific research associated with disease-transmitting insects as well as
  to encourage debate on the use of animals in science in general.  Research groups from several
  countries have started to support the use of insects as models for human disease research,
  regarding them as a more attractive and economical alternative to traditional laboratory animals
  such as hamsters, rabbits or mice.
</p>
<p>
  Insects play a major role in the economy and society of Brazil and the world. Besides transmitting a
  number of human diseases with no suitable treatment or vaccines (i.e., Dengue, Leishmaniasis,
  Chagas disease, Malaria), insects also destroy crops and livestock and are responsible for major
  economic losses that negatively affect local, national and international development. Moreover,
  traditional, insecticide-based strategies to control insects constitute a huge risk to natural
  ecosystems and human health given the accumulation of these compounds in the environment.  All
  this highlights how the detailed study of entomology at different levels is an urgent need for our
  society. We sincerely hope that showing life in captivity of some of these disease-transmitting bugs
  can stimulate interest and promote discussion and debate.
</p>
<p>
  Our first BBB’s “housemate” will be the kissing bug Rhodnius prolixus, vector of Chagas disease, and
  a traditional model for the study of blood-feeding insects. Recently, R. prolixus had its genome
  sequenced and annotated and Brazilian scientists played a very important role in this process.
</p>
<p>
  Filmed animals come from a research colony from the Laboratory of Biochemistry and Physiology of
  Insects, Oswaldo Cruz Institute in Rio de Janeiro. Animals will be filmed 24 hours a day, 7 days a
  week, and their behavior will be streamed over the Internet, where the viewers can leave questions
  in our comments section. Soon other insect species will join BBB, together with additional
  information regarding the biology and secret life of all the bug-housemates. We hope everyone will
  have fun with the experience!
</p>
<p class="regards">
  +Regards<br />
  Team Bug Brother Brazil
</p>
<img src="../images/right-arrow-icon.png" class="mark" />
<h3>Acknowledgments</h3>
<hr class="line" />
<div class="container-regards">
  <ul>
    <li>
      <img src="http://graph.facebook.com/eloi.garcia.94/picture?width=160&height=160" class="profile" />
      <h5>Dr. Eloi de Souza Garcia</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/azambuja.p/picture?width=160&height=160" class="profile" />
      <h5>Dra. Patrícia de Azambuja Penna</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/daniele.p.castroGO/picture?width=160&height=160" class="profile" />
      <h5>Dra. Daniele Pereira de Castro</h5>
      Laboratory of Biochemistry and Physiology of Insects, IOC-FIOCRUZ
    </li>
    <li>
      <img src="../images/man.png" class="profile" />
      <h5>Zildo Alves da Cruz</h5>
      Laboratory of Biochemistry and Physiology of Insects, IOC-FIOCRUZ
    </li>
    <li>
      <img src="../images/man.png" class="profile" />
      <h5>José Carlos Nascimento de Oliveira</h5>
      Laboratory of Biochemistry and Physiology of Insects, IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/viv.dillon.3/picture?width=160&height=160" class="profile" />
      <h5>Prof. Viv Dillon</h5>
      University of Liverpool
    </li>
    <li>
      <a href="http://www.cnpq.br/" target="_blank">
        <img src="../images/cnpq.png" class="profile" />
        <h5>CNPq</h5>
        Funding Agencies
      </a>
    </li>
    <li>
      <a href="http://www.faperj.br/" target="_blank">
        <img src="../images/faperj.png" class="profile" />
        <h5>FAPERJ</h5>
        Funding Agencies
      </a>
    </li>
    <li>
      <a href="http://portal.fiocruz.br/" target="_blank">
        <img src="../images/fiocruz.png" class="profile" />
        <h5>FIOCRUZ</h5>
        Funding Agencies
      </a>
    </li>
  </ul>
</div>
<img src="../images/right-arrow-icon.png" class="mark" />
<h3>Team</h3>
<hr class="line" />
<div class="container-team">
  <ul>
    <li>
      <img src="http://graph.facebook.com/rod.dillon.509/picture?width=160&height=160" class="profile" />
      <h5>Profs. Roderick James Dillon</h5>
      Lancaster University
    </li>
    <li>
      <img src="http://graph.facebook.com/gentafernando/picture?width=160&height=160" class="profile" />
      <h5>Dr. Fernando Ariel Genta</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/hector.diaz.albiter/picture?width=160&height=160" class="profile" />
      <h5>Dr. Hector Manuel Diaz-Albiter</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/maiara.dovalle/picture?width=160&height=160" class="profile" />
      <h5>Maiara do Valle Faria</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/taina.neves.58/picture?width=160&height=160" class="profile" />
      <h5>Tainá Neves Ferreira</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/mariana92.cardoso/picture?width=160&height=160" class="profile" />
      <h5>Mariana Cardoso da Costa</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <a href="http://www.linkedin.com/in/diogogama" target="_blank">
        <img src="http://graph.facebook.com/diogo.delima.75/picture?width=160&height=160" class="profile" />
        <h5>Diogo de Lima Gama da Silva</h5>
        Developer / Web Design
      </a>
    </li>
  </ul>
</div>