<img src="../images/daniele_dentro.jpg" class="main-pic" />
<p>
  A plataforma "Bug Brother Brazil" é um projeto de divulgação científica resultado da
  colaboração entre os grupos do Prof. Roderick James Dillon (Universidade de Lancaster, Reino
  Unido) e do Prof. Fernando Ariel Genta (IOC-FIOCRUZ/RJ, Brasil). O projeto tem o apoio do
  Instituto Nacional de Ciência e Tecnologia em Entomologia Molecular (INCT-EM), e das
  agências de fomento CNPq, FAPERJ e FIOCRUZ.
</p>
<p>
  O objetivo principal é mostrar ao público detalhes da vida em laboratório de alguns insetos
  usados como modelos de estudo em doenças parasitológicas. Com isso, pretendemos não só
  despertar o interesse na pesquisa científica associada, mas também estimular o debate sobre a
  necessidade do uso de modelos animais em alguns ramos da investigação científica. O uso de
  insetos como modelos para investigação de doenças humanas tem sido postulado em
  diferentes países, como uma alternativa atraente e de baixo custo aos testes em animais
  de laboratório mais tradicionais, como hamsters, coelhos ou camundongos.
</p>
<p>
  É importante ressaltar que os insetos têm uma importância enorme em diferentes aspectos da
  economia e da sociedade no Brasil. Além de transmitir uma série de doenças para as quais
  ainda não há tratamento adequado ou vacinas, como Dengue, Leishmaniose, Doença de
  Chagas e Malária, os insetos são responsáveis por grandes perdas na economia do país, pois
  atuam como pragas de cultivares e transmissores de doenças de plantas e animais.
</p>
<p>
  Dessa forma, o estudo de diferentes aspectos da biologia de insetos é um tema fundamental
  para o progresso do país. Se considerarmos a necessidade do desenvolvimento de alternativas
  ao controle químico, vista a resistência de populações de insetos aos inseticidas tradicionais, e
  o acúmulo desses compostos no meio ambiente, com enorme prejuízo aos ecossistemas
  naturais e à saúde humana, desenvolver o estudo detalhado da entomologia em diferentes
  níveis é uma necessidade urgente para a nossa sociedade.
</p>
<p>
  O modelo escolhido para iniciar o projeto é o barbeiro Rhodnius prolixus, vetor da Doença de
  Chagas e um modelo tradicional para o estudo de hemípteros hematófagos. O Rhodnius
  prolixus teve o seu genoma sequenciado e anotado recentemente com importante
  participação de grupos brasileiros. Esperamos que a exposição da vida desse inseto em
  cativeiro possa estimular o interesse e a discussão de diversos aspectos de sua biologia.
</p>
<p>
  A colônia utilizada para o estudo é a colônia do Laboratório de Bioquímica e Fisiologia de
  Insetos do Instituto Oswaldo Cruz, no Rio de Janeiro. Os insetos serão filmados 24 horas por
  dia, 7 dias por semana, e o seu comportamento será transmitido via internet para o público,
  que poderá fazer perguntas e comentários aos administradores do site. Em breve outros
  modelos serão incorporados ao projeto, assim como informações adicionais sobre a biologia
  dos insetos apresentados. Esperamos que todos se divirtam com a experiência!
</p>
<p class="regards">
  Saudações,<br />
  Equipe do Bug Brother Brazil
</p>
<img src="../images/right-arrow-icon.png" class="mark" />
<h3>Agradecimentos</h3>
<hr class="line" />
<div class="container-regards">
  <ul>
    <li>
      <img src="http://graph.facebook.com/eloi.garcia.94/picture?width=160&height=160" class="profile" />
      <h5>Dr. Eloi de Souza Garcia</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/azambuja.p/picture?width=160&height=160" class="profile" />
      <h5>Dra. Patrícia de Azambuja Penna</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/daniele.p.castroGO/picture?width=160&height=160" class="profile" />
      <h5>Dra. Daniele Pereira de Castro</h5>
      Laboratório de Bioquímica e Fisiologia de Insetos, IOC-FIOCRUZ
    </li>
    <li>
      <img src="../images/man.png" class="profile" />
      <h5>Zildo Alves da Cruz</h5>
      Laboratório de Bioquímica e Fisiologia de Insetos, IOC-FIOCRUZ
    </li>
    <li>
      <img src="../images/man.png" class="profile" />
      <h5>José Carlos Nascimento de Oliveira</h5>
      Laboratório de Bioquímica e Fisiologia de Insetos, IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/viv.dillon.3/picture?width=160&height=160" class="profile" />
      <h5>Prof. Viv Dillon</h5>
      Universidade de Liverpool
    </li>
    <li>
      <a href="http://www.cnpq.br/" target="_blank">
        <img src="../images/cnpq.png" class="profile" />
        <h5>CNPq</h5>
        Agência de Fomento
      </a>
    </li>
    <li>
      <a href="http://www.faperj.br/" target="_blank">
        <img src="../images/faperj.png" class="profile" />
        <h5>FAPERJ</h5>
        Agência de Fomento
      </a>
    </li>
    <li>
      <a href="http://portal.fiocruz.br/" target="_blank">
        <img src="../images/fiocruz.png" class="profile" />
        <h5>FIOCRUZ</h5>
        Agência de Fomento
      </a>
    </li>
    <li>
      <a href="http://www.capes.gov.br/" target="_blank">
        <img src="../images/capes.png" class="profile" />
        <h5>CAPES</h5>
        Agência de Fomento
      </a>
    </li>
  </ul>
</div>
<img src="../images/right-arrow-icon.png" class="mark" />
<h3>Equipe</h3>
<hr class="line" />
<div class="container-team">
  <ul>
    <li>
      <img src="http://graph.facebook.com/rod.dillon.509/picture?width=160&height=160" class="profile" />
      <h5>Profs. Roderick James Dillon</h5>
      Universidade de Lancaster
    </li>
    <li>
      <img src="http://graph.facebook.com/gentafernando/picture?width=160&height=160" class="profile" />
      <h5>Dr. Fernando Ariel Genta</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/hector.diaz.albiter/picture?width=160&height=160" class="profile" />
      <h5>Dr. Hector Manuel Diaz-Albiter</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/maiara.dovalle/picture?width=160&height=160" class="profile" />
      <h5>Maiara do Valle Faria</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/taina.neves.58/picture?width=160&height=160" class="profile" />
      <h5>Tainá Neves Ferreira</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/mariana92.cardoso/picture?width=160&height=160" class="profile" />
      <h5>Mariana Cardoso da Costa</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <a href="http://www.linkedin.com/in/diogogama" target="_blank">
        <img src="http://graph.facebook.com/diogo.delima.75/picture?width=160&height=160" class="profile" />
        <h5>Diogo de Lima Gama da Silva</h5>
        Desenvolvedor / Web Design
      </a>
    </li>
  </ul>
</div>