<p>
  A plataforma "Bug Brother Brazil" é um projeto de divulgação científica resultado da
  colaboração entre os grupos do Prof. Roderick James Dillon (Universidade de Lancaster, Reino
  Unido) e do Prof. Fernando Ariel Genta (IOC-FIOCRUZ/RJ, Brasil). O projeto tem o apoio do
  Instituto Nacional de Ciência e Tecnologia em Entomologia Molecular (INCT-EM), e das
  agências de fomento CNPq, FAPERJ e FIOCRUZ.
</p>
<p>
  O objetivo principal é mostrar ao público detalhes da vida em laboratório de alguns insetos
  usados como modelos de estudo em doenças parasitológicas. Com isso, pretendemos não só
  despertar o interesse na pesquisa científica associada, mas também estimular o debate sobre a
  necessidade do uso de modelos animais em alguns ramos da investigação científica. O uso de
  insetos como modelos para investigação de doenças humanas tem sido postulado em
  diferentes países, como uma alternativa atraente e de baixo custo aos testes em animais
  de laboratório mais tradicionais, como hamsters, coelhos ou camundongos.
</p>
<p>
  É importante ressaltar que os insetos têm uma importância enorme em diferentes aspectos da
  economia e da sociedade no Brasil. Além de transmitir uma série de doenças para as quais
  ainda não há tratamento adequado ou vacinas, como Dengue, Leishmaniose, Doença de
  Chagas e Malária, os insetos são responsáveis por grandes perdas na economia do país, pois
  atuam como pragas de cultivares e transmissores de doenças de plantas e animais.
</p>
<p>
  Dessa forma, o estudo de diferentes aspectos da biologia de insetos é um tema fundamental
  para o progresso do país. Se considerarmos a necessidade do desenvolvimento de alternativas
  ao controle químico, vista a resistência de populações de insetos aos inseticidas tradicionais, e
  o acúmulo desses compostos no meio ambiente, com enorme prejuízo aos ecossistemas
  naturais e à saúde humana, desenvolver o estudo detalhado da entomologia em diferentes
  níveis é uma necessidade urgente para a nossa sociedade.
</p>
<p>
  O modelo escolhido para iniciar o projeto é o barbeiro Rhodnius prolixus, vetor da Doença de
  Chagas e um modelo tradicional para o estudo de hemípteros hematófagos. O Rhodnius
  prolixus teve o seu genoma sequenciado e anotado recentemente com importante
  participação de grupos brasileiros. Esperamos que a exposição da vida desse inseto em
  cativeiro possa estimular o interesse e a discussão de diversos aspectos de sua biologia.
</p>
<p>
  A colônia utilizada para o estudo é a colônia do Laboratório de Bioquímica e Fisiologia de
  Insetos do Instituto Oswaldo Cruz, no Rio de Janeiro. Os insetos serão filmados 24 horas por
  dia, 7 dias por semana, e o seu comportamento será transmitido via internet para o público,
  que poderá fazer perguntas e comentários aos administradores do site. Em breve outros
  modelos serão incorporados ao projeto, assim como informações adicionais sobre a biologia
  dos insetos apresentados. Esperamos que todos se divirtam com a experiência!
</p>
<p>
  Saudações<br />
  Equipe do Bug Brother Brazil
</p>
<p>
  Agradecimentos<br />
  IOC-FIOCRUZ<br />
  Dr. Eloi de Souza Garcia, Dra. Patrícia de Azambuja Penna<br />
  Dra. Daniele Pereira de Castro, Zildo Alves da Cruz e José Carlos Nascimento de Oliveira (Laboratório de Bioquímica e Fisiologia de Insetos, IOC-FIOCRUZ)<br />
  Prof. Viv Dillon (Universidade de Liverpool)
</p>
<p>
  Agências de Fomento<br />
  CNPq, FAPERJ, FIOCRUZ<br />
</p>
<p>
  Equipe<br />
  Profs. Roderick James Dillon (Universidade de Lancaster)<br />
  Dr. Fernando Ariel Genta, Dr. Hector Manuel Diaz-Albiter, Maiara do Valle Faria, Tainá Neves Ferreira, Mariana Cardoso da Costa (IOC-FIOCRUZ)<br />
  Diogo de Lima Gama da Silva (Programador / Web Design)<br />
</p>

