<img src="../images/daniele_dentro.jpg" class="main-pic" />
<p>
  La plataforma “Bug Brother Brazil (BBB)” es un proyecto de divulgación científica, resultado
  der la colaboración entre los grupos de los Drs. Roderick James Dillon (Universidad de
  Lancaster, Reino Unido) y Fernando Genta (Instituto Oswaldo Cruz-FIOCRUZ, Rio de Janeiro,
  Brasil). El proyecto cuenta con el apoyo del Instituto Nacional de Ciência e Tecnologia em
  Entomologia Molecular (INCT-EM), así como de las agencias CNPq, FAPERJ y FIOCRUZ.
</p>
<p>
  El objetivo principal de BBB es mostrar al público en general algunos detalles de la vida de
  laboratorio de algunos insectos utilizados como modelos de estudio en enfermedades
  parasitarias. A través de esto, pretendemos no sólo despertar el interés en la investigación
  científica asociada, sino también estimular el debate acerca del uso de insectos como
  modelos de investigación en enfermedades humanas, escenario que ha sido propuesto en
  diferentes países como una alternativa, económica y atractiva, a las realización de pruebas
  en animales de laboratorio más tradicionales, como hámsteres, conejos o ratones.
</p>
<p>
  Es importante resaltar que los insectos poseen una importancia enorme en diferentes aspectos
  de la economía de Brasil y el resto del mundo. Además de transmitir una serie de enfermedades
  para las cuales todavía no existe tratamiento adecuado o vacunas (p. ej., Dengue, Chagas,
  Leishmaniosis, Malaria), este grupo de invertebrados es responsable por pérdidas económicas
  graves en diferentes países, dado que constituyen plagas a nivel agrícola y transmiten
  enfermedades a plantas y animales de importancia económica.
</p>
<p>
  Asimismo, el estudio de diferentes aspectos de la biología de insectos es un tema fundamental
  para el progreso de todo país. Si se toma en cuenta la necesidad de desarrollo de alternativas
  al control químico, dada la creciente resistencia de poblaciones de insectos a insecticidas
  tradicionales, la acumulación de estos compuestos en el medio ambiente y su consecuente
  impacto en los ecosistemas y salud humana, desarrollar el estudio detallado de la entomología
  en diferentes niveles es una necesidad urgente para nuestra sociedad.
</p>
<p>
  El modelo escogido para iniciar este proyecto es la chinche Rhodnius prolixus, vector de la
  enfermedad de Chagas y modelo tradicional para el estudio de hemípteros hematófagos. El
  genoma de Rhodnius prolixus fue recientemente secuenciado y anotado y contó con una
  importante participación de grupos brasileños. Esperamos que la exposición de la vida en
  cautiverio de este insecto pueda estimular el interés y la discusión de diversos aspectos
  de su biología.
</p>
<p>
  La colonia utilizada pertenece al Laboratorio de Bioquímica y Fisiología de Insectos del
  Instituto Oswaldo Cruz, en Rio de Janeiro. Los insectos serán filmados 24 horas al día, 7 días
  a la semana, y su comportamiento ser transmitido por internet para el público, quien podrá
  interactuar haciendo preguntas y comentarios a los administradores del sitio web. En breve,
  otros modelos serán incorporados al proyecto, así como informaciónadicional sobre la biología
  de los insectos presentados. ¡Esperamos que se diviertan con esta experiencia!
</p>
<p class="regards">
  Saludos afectuosos,<br />
  Equipo Bug Brother Brasil
</p>
<img src="../images/right-arrow-icon.png" class="mark" />
<h3>Gracias</h3>
<hr class="line" />
<div class="container-regards">
  <ul>
    <li>
      <img src="http://graph.facebook.com/eloi.garcia.94/picture?width=160&height=160" class="profile" />
      <h5>Dr. Eloi de Souza Garcia</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/azambuja.p/picture?width=160&height=160" class="profile" />
      <h5>Dra. Patrícia de Azambuja Penna</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/daniele.p.castroGO/picture?width=160&height=160" class="profile" />
      <h5>Dra. Daniele Pereira de Castro</h5>
      Laboratorio de Bioquímica y Fisiología de los Insectos, IOC-FIOCRUZ
    </li>
    <li>
      <img src="../images/man.png" class="profile" />
      <h5>Zildo Alves da Cruz</h5>
      Laboratorio de Bioquímica y Fisiología de los Insectos, IOC-FIOCRUZ
    </li>
    <li>
      <img src="../images/man.png" class="profile" />
      <h5>José Carlos Nascimento de Oliveira</h5>
      Laboratorio de Bioquímica y Fisiología de los Insectos, IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/viv.dillon.3/picture?width=160&height=160" class="profile" />
      <h5>Prof. Viv Dillon</h5>
      Universidad de Liverpool
    </li>
    <li>
      <a href="http://www.cnpq.br/" target="_blank">
        <img src="../images/cnpq.png" class="profile" />
        <h5>CNPq</h5>
        Agencia de Desarrollo
      </a>
    </li>
    <li>
      <a href="http://www.faperj.br/" target="_blank">
        <img src="../images/faperj.png" class="profile" />
        <h5>FAPERJ</h5>
        Agencia de Desarrollo
      </a>
    </li>
    <li>
      <a href="http://portal.fiocruz.br/" target="_blank">
        <img src="../images/fiocruz.png" class="profile" />
        <h5>FIOCRUZ</h5>
        Agencia de Desarrollo
      </a>
    </li>
  </ul>
</div>
<img src="../images/right-arrow-icon.png" class="mark" />
<h3>Equipo</h3>
<hr class="line" />
<div class="container-team">
  <ul>
    <li>
      <img src="http://graph.facebook.com/rod.dillon.509/picture?width=160&height=160" class="profile" />
      <h5>Profs. Roderick James Dillon</h5>
      Universidad de Lancaster
    </li>
    <li>
      <img src="http://graph.facebook.com/gentafernando/picture?width=160&height=160" class="profile" />
      <h5>Dr. Fernando Ariel Genta</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/hector.diaz.albiter/picture?width=160&height=160" class="profile" />
      <h5>Dr. Hector Manuel Diaz-Albiter</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/maiara.dovalle/picture?width=160&height=160" class="profile" />
      <h5>Maiara do Valle Faria</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/taina.neves.58/picture?width=160&height=160" class="profile" />
      <h5>Tainá Neves Ferreira</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <img src="http://graph.facebook.com/mariana92.cardoso/picture?width=160&height=160" class="profile" />
      <h5>Mariana Cardoso da Costa</h5>
      IOC-FIOCRUZ
    </li>
    <li>
      <a href="http://www.linkedin.com/in/diogogama" target="_blank">
        <img src="http://graph.facebook.com/diogo.delima.75/picture?width=160&height=160" class="profile" />
        <h5>Diogo de Lima Gama da Silva</h5>
        Programador / Web Design
      </a>
    </li>
  </ul>
</div>