<div class="about-page">
  <img src="../images/right-arrow-icon.png" class="mark" />
  <h3><%= I18n.t('.translation.title_about') %></h3>
  <hr class="line" />

  <%= render :partial => 'about' %>
</div>
